### Acceso a los elementos mediante nombres

In [ ]:
import pandas as pd
datos={ "Nombre": ['omeprezol','Panadol','Paracetamol','Omepral'],
        "Precio": [1200,1300,2050,1800],
        "Laboratorio": ['Roche','Abot','Bayer','Markos']}
df=pd.DataFrame(datos, index=['Med1','Med2','Med3','Med4'])
df

           Nombre  Precio Laboratorio
Med1    omeprezol    1200       Roche
Med2      Panadol    1300        Abot
Med3  Paracetamol    2050       Bayer
Med4      Omepral    1800      Markos

Acceso a datos

In [ ]:
df['Med2':'Med3']

           Nombre  Precio Laboratorio
Med2      Panadol    1300        Abot
Med3  Paracetamol    2050       Bayer

In [ ]:
df['Med2':]

           Nombre  Precio Laboratorio
Med2      Panadol    1300        Abot
Med3  Paracetamol    2050       Bayer
Med4      Omepral    1800      Markos

In [ ]:
df[:'Med3']

           Nombre  Precio Laboratorio
Med1    omeprezol    1200       Roche
Med2      Panadol    1300        Abot
Med3  Paracetamol    2050       Bayer

combinando filas y columnas

Ejemplo. selecciona las series nombre y precio del DataFrame

In [ ]:
df[['Nombre','Precio']]

           Nombre  Precio
Med1    omeprezol    1200
Med2      Panadol    1300
Med3  Paracetamol    2050
Med4      Omepral    1800

Ejemplo. selecciona las series nombre y precio del DataFrame, ademas las filas Med1, Med2, Med3.

In [ ]:
df[['Nombre','Precio']]['Med1':'Med3']

           Nombre  Precio
Med1    omeprezol    1200
Med2      Panadol    1300
Med3  Paracetamol    2050

In [ ]:
df

           Nombre  Precio Laboratorio
Med1    omeprezol    1200       Roche
Med2      Panadol    1300        Abot
Med3  Paracetamol    2050       Bayer
Med4      Omepral    1800      Markos

Ejemplo. Selecciona las filas nombre y laboratorio y las columnas 'Med1', 'Med2','Med3'.

In [ ]:
df[['Nombre','Laboratorio']]['Med2':'Med3']

           Nombre Laboratorio
Med2      Panadol        Abot
Med3  Paracetamol       Bayer

In [ ]:
df[1:2]

       Nombre  Precio Laboratorio
Med2  Panadol    1300        Abot

Acceso a filas y columnas haciendo uso del metodo loc

In [ ]:
df.loc['Med1':'Med3']

           Nombre  Precio Laboratorio
Med1    omeprezol    1200       Roche
Med2      Panadol    1300        Abot
Med3  Paracetamol    2050       Bayer

In [ ]:
df.loc[['Med1','Med2']]

         Nombre  Precio Laboratorio
Med1  omeprezol    1200       Roche
Med2    Panadol    1300        Abot

In [ ]:
df.loc['Med2':]

           Nombre  Precio Laboratorio
Med2      Panadol    1300        Abot
Med3  Paracetamol    2050       Bayer
Med4      Omepral    1800      Markos

In [ ]:
df.loc[::2]

           Nombre  Precio Laboratorio
Med1    omeprezol    1200       Roche
Med3  Paracetamol    2050       Bayer

Seleccionar los datos de nombre y precio

In [ ]:
df.loc[['Med1','Med3'],['Nombre','Precio']]

           Nombre  Precio
Med1    omeprezol    1200
Med3  Paracetamol    2050

In [ ]:
df.loc[:,'Nombre':'Laboratorio']

           Nombre  Precio Laboratorio
Med1    omeprezol    1200       Roche
Med2      Panadol    1300        Abot
Med3  Paracetamol    2050       Bayer
Med4      Omepral    1800      Markos

In [ ]:
df.loc['Med3','Laboratorio']

'Bayer'

Acceso a elementos del dataframe mediante iloc

In [ ]:
import pandas as pd
datos={ "Nombre": ['omeprezol','Panadol','Paracetamol','Omepral'],
        "Precio": [1200,1300,2050,1800],
        "Laboratorio": ['Roche','Abot','Bayer','Markos']}
df=pd.DataFrame(datos)
df

        Nombre  Precio Laboratorio
0    omeprezol    1200       Roche
1      Panadol    1300        Abot
2  Paracetamol    2050       Bayer
3      Omepral    1800      Markos

In [ ]:
df.iloc[:,2:]

  Laboratorio
0       Roche
1        Abot
2       Bayer
3      Markos

In [ ]:
df.iloc[0:2,0:1]

      Nombre
0  omeprezol
1    Panadol

In [ ]:
df.iloc[[1,3],[1,2]]

   Precio Laboratorio
1    1300        Abot
3    1800      Markos

### Operaciones con las columnas de un dataframe

In [ ]:
import pandas as pd
datos={ "Nombre": ['omeprezol','Panadol','Paracetamol','Omepral'],
        "Precio": [1200,1300,2050,1800],
        "Laboratorio": ['Roche','Abot','Bayer','Markos']}
df=pd.DataFrame(datos)
df

        Nombre  Precio Laboratorio
0    omeprezol    1200       Roche
1      Panadol    1300        Abot
2  Paracetamol    2050       Bayer
3      Omepral    1800      Markos

Programa que permite aadir una columna a un DataFrame, a partir de una serie. en caso del ejemplo anterior aadir la cantidad por cada medicamento.

In [ ]:
df['Cantidad']=pd.Series([200,160,400,370])
df

        Nombre  Precio Laboratorio  Cantidad
0    omeprezol    1200       Roche       200
1      Panadol    1300        Abot       160
2  Paracetamol    2050       Bayer       400
3      Omepral    1800      Markos       370

In [ ]:
df['Farmacia']=['San Miguel','Santa Ana','San Borja','Magdalena']
df

        Nombre  Precio Laboratorio  Cantidad    Farmacia
0    omeprezol    1200       Roche       200  San Miguel
1      Panadol    1300        Abot       160   Santa Ana
2  Paracetamol    2050       Bayer       400   San Borja
3      Omepral    1800      Markos       370   Magdalena

### Operaciones sobre columnas

In [ ]:
df['Total']=df['Precio']*df['Cantidad']
df

        Nombre  Precio Laboratorio  Cantidad    Farmacia   Total
0    omeprezol    1200       Roche       200  San Miguel  240000
1      Panadol    1300        Abot       160   Santa Ana  208000
2  Paracetamol    2050       Bayer       400   San Borja  820000
3      Omepral    1800      Markos       370   Magdalena  666000

Ejemplo. Generar un DataFrame para aplicar diferentes funciones a sus elementos

In [ ]:
import numpy as np
df=pd.DataFrame(np.random.rand(4,3),columns=['Energia','Potencia','Consumo'])
df

    Energia  Potencia   Consumo
0  0.690990  0.909466  0.470116
1  0.339248  0.151881  0.623020
2  0.301825  0.858482  0.061530
3  0.191054  0.111664  0.922807

Ejemplo. Programa que permite extraer la raiz cuadrada a potencia del dataframe

In [ ]:
from math import sqrt
df['potencia2']=df['Potencia'].apply(sqrt)
df

    Energia  Potencia   Consumo  potencia2
0  0.690990  0.909466  0.470116   0.953659
1  0.339248  0.151881  0.623020   0.389719
2  0.301825  0.858482  0.061530   0.926543
3  0.191054  0.111664  0.922807   0.334162

In [ ]:
from math import log
df['Consumo'].apply(log)

0   -0.754776
1   -0.473177
2   -2.788234
3   -0.080335
Name: Consumo, dtype: float64

### Ejemplo de operaciones en dataFrame

In [ ]:
import pandas as pd
datos={ 'Producto':['Licuadora','Ventilador','Vaporizador','Extractor'],
        'Cantidad': [24,36,39,40],
         'Precio': [2400,3500,2100,1500]}
df=pd.DataFrame(datos)
df

      Producto  Cantidad  Precio
0    Licuadora        24    2400
1   Ventilador        36    3500
2  Vaporizador        39    2100
3    Extractor        40    1500

Ejemplo. Programa que permite triplicar los valores de la columna cantidad

In [ ]:
df['Cantidad'].apply(lambda x:3*x )

0     72
1    108
2    117
3    120
Name: Cantidad, dtype: int64

Ejemplo. Programa que permite calcular el promedio de cada columna especificada en la lista

In [ ]:
df[['Cantidad','Precio']].apply(lambda x:x.mean(),axis=0)

Cantidad      34.75
Precio      2375.00
dtype: float64

Ejemplo. Permite dividir entre 10 todos los valores de las columnas especificadas en la lista

In [ ]:
df[['Cantidad','Precio']].apply(lambda x:x/10)

   Cantidad  Precio
0       2.4   240.0
1       3.6   350.0
2       3.9   210.0
3       4.0   150.0

Resumen descriptivo del dataFrame

In [ ]:
df.describe()

       Cantidad       Precio
count   4.00000     4.000000
mean   34.75000  2375.000000
std     7.36546   838.152731
min    24.00000  1500.000000
25%    33.00000  1950.000000
50%    37.50000  2250.000000
75%    39.25000  2675.000000
max    40.00000  3500.000000

Eliminar columnas de un DataFrame

In [ ]:
df

      Producto  Cantidad  Precio
0    Licuadora        24    2400
1   Ventilador        36    3500
2  Vaporizador        39    2100
3    Extractor        40    1500

In [ ]:
df.pop('Precio')

0    2400
1    3500
2    2100
3    1500
Name: Precio, dtype: int64

In [ ]:
df

      Producto  Cantidad
0    Licuadora        24
1   Ventilador        36
2  Vaporizador        39
3    Extractor        40

## Operaciones con las filas de un DataFrame


1.   Aadir una fila a un DataFrame

In [ ]:
import pandas as pd
datos={ 'Producto':['Licuadora','Ventilador','Vaporizador','Extractor'],
        'Cantidad': [24,36,39,40],
         'Precio': [2400,3500,2100,1500]}
df=pd.DataFrame(datos)
df

      Producto  Cantidad  Precio
0    Licuadora        24    2400
1   Ventilador        36    3500
2  Vaporizador        39    2100
3    Extractor        40    1500

In [ ]:
datos1={ 'Producto':'Refri',
        'Cantidad': 50,
         'Precio': 2400}
datos1

{'Cantidad': 50, 'Precio': 2400, 'Producto': 'Refri'}

In [ ]:
serie=pd.Series(datos1)
serie

Producto    Refri
Cantidad       50
Precio       2400
dtype: object

In [ ]:
df1=df.append(serie,ignore_index=True)
df1

      Producto  Cantidad  Precio
0    Licuadora        24    2400
1   Ventilador        36    3500
2  Vaporizador        39    2100
3    Extractor        40    1500
4        Refri        50    2400

Eliminar filas de un DataFrame

In [ ]:
df2=df.drop([1,3])
df2

      Producto  Cantidad  Precio
0    Licuadora        24    2400
2  Vaporizador        39    2100

In [ ]:
df2.pop('Producto')
df2

   Cantidad  Precio
0        24    2400
2        39    2100

Filtrado de las filas en un DataFrame

In [ ]:
df

      Producto  Cantidad  Precio
0    Licuadora        24    2400
1   Ventilador        36    3500
2  Vaporizador        39    2100
3    Extractor        40    1500

Ejemplo. Programa que permite hacer consultas en funcin a condiciones establacidas

In [ ]:
df[ df['Precio']>2000 ]

      Producto  Cantidad  Precio
0    Licuadora        24    2400
1   Ventilador        36    3500
2  Vaporizador        39    2100

In [ ]:
df[ (df['Precio']>2000)  | (df['Precio']<3000)]

      Producto  Cantidad  Precio
0    Licuadora        24    2400
1   Ventilador        36    3500
2  Vaporizador        39    2100
3    Extractor        40    1500

Fusionar, unir, concatenar y compara DataFrame

Concatenar DataFrame

In [ ]:
import pandas as pd
import numpy as np
df1=pd.DataFrame(np.random.rand(4,4),index=[0,1,2,3],columns=['A','B','C','D'])
df1

          A         B         C         D
0  0.118599  0.381180  0.602518  0.329390
1  0.723070  0.125643  0.086912  0.947086
2  0.571273  0.814538  0.929652  0.098118
3  0.516493  0.716613  0.415203  0.103131

El segundo DataFrame

In [ ]:
df2=pd.DataFrame(np.random.rand(4,4),index=[4,5,6,7],columns=['A','B','C','D'])
df2

          A         B         C         D
4  0.091480  0.522379  0.076014  0.402038
5  0.971159  0.748956  0.462391  0.177170
6  0.554076  0.693386  0.990617  0.244413
7  0.752474  0.038783  0.269659  0.431689

In [ ]:
df3=pd.DataFrame(np.random.rand(4,4),index=[8,9,10,11],columns=['A','B','C','D'])
df3

           A         B         C         D
8   0.735301  0.522764  0.578380  0.240713
9   0.521528  0.395301  0.098754  0.699806
10  0.628927  0.207119  0.586365  0.452969
11  0.986742  0.167686  0.486853  0.790737

In [ ]:
dfc=pd.concat([df1,df2,df3],axis=0)

In [ ]:
dfc

           A         B         C         D
0   0.118599  0.381180  0.602518  0.329390
1   0.723070  0.125643  0.086912  0.947086
2   0.571273  0.814538  0.929652  0.098118
3   0.516493  0.716613  0.415203  0.103131
4   0.091480  0.522379  0.076014  0.402038
5   0.971159  0.748956  0.462391  0.177170
6   0.554076  0.693386  0.990617  0.244413
7   0.752474  0.038783  0.269659  0.431689
8   0.735301  0.522764  0.578380  0.240713
9   0.521528  0.395301  0.098754  0.699806
10  0.628927  0.207119  0.586365  0.452969
11  0.986742  0.167686  0.486853  0.790737

keys: Permite construir un indice jerrquico usando las claves pasadas como nuvel ms externo.

In [ ]:
resultado=pd.concat([df1,df2,df3],keys=['X','Y','Z'])
resultado

             A         B         C         D
X 0   0.118599  0.381180  0.602518  0.329390
  1   0.723070  0.125643  0.086912  0.947086
  2   0.571273  0.814538  0.929652  0.098118
  3   0.516493  0.716613  0.415203  0.103131
Y 4   0.091480  0.522379  0.076014  0.402038
  5   0.971159  0.748956  0.462391  0.177170
  6   0.554076  0.693386  0.990617  0.244413
  7   0.752474  0.038783  0.269659  0.431689
Z 8   0.735301  0.522764  0.578380  0.240713
  9   0.521528  0.395301  0.098754  0.699806
  10  0.628927  0.207119  0.586365  0.452969
  11  0.986742  0.167686  0.486853  0.790737

In [ ]:
resultado.loc[['Y','X']]

            A         B         C         D
Y 4  0.091480  0.522379  0.076014  0.402038
  5  0.971159  0.748956  0.462391  0.177170
  6  0.554076  0.693386  0.990617  0.244413
  7  0.752474  0.038783  0.269659  0.431689
X 0  0.118599  0.381180  0.602518  0.329390
  1  0.723070  0.125643  0.086912  0.947086
  2  0.571273  0.814538  0.929652  0.098118
  3  0.516493  0.716613  0.415203  0.103131

In [ ]:
Dataframe=[df*100 for df in [df1,df2,df3]]
resultados=pd.concat(Dataframe)
resultados

            A          B          C          D
0   11.859852  38.118018  60.251816  32.939049
1   72.306966  12.564300   8.691196  94.708582
2   57.127348  81.453764  92.965204   9.811787
3   51.649319  71.661289  41.520309  10.313055
4    9.148023  52.237865   7.601403  40.203762
5   97.115861  74.895585  46.239110  17.717049
6   55.407560  69.338581  99.061746  24.441278
7   75.247421   3.878282  26.965866  43.168945
8   73.530085  52.276399  57.837956  24.071330
9   52.152848  39.530068   9.875359  69.980585
10  62.892719  20.711901  58.636523  45.296865
11  98.674186  16.768630  48.685330  79.073746

Definamos un cuarto DataFrame

In [ ]:
df4=pd.DataFrame(np.random.rand(4,3),index=[2,3,6,7], columns=['B','D','F'])
df4

          B         D         F
2  0.065053  0.689256  0.653805
3  0.715500  0.610958  0.778317
6  0.125176  0.580131  0.514310
7  0.792110  0.245821  0.058716

In [ ]:
resultado=pd.concat([df1,df4],axis=1)
resultado

          A         B         C         D         B         D         F
0  0.118599  0.381180  0.602518  0.329390       NaN       NaN       NaN
1  0.723070  0.125643  0.086912  0.947086       NaN       NaN       NaN
2  0.571273  0.814538  0.929652  0.098118  0.065053  0.689256  0.653805
3  0.516493  0.716613  0.415203  0.103131  0.715500  0.610958  0.778317
6       NaN       NaN       NaN       NaN  0.125176  0.580131  0.514310
7       NaN       NaN       NaN       NaN  0.792110  0.245821  0.058716

Aplicando join='inner' en el parametro concat

In [ ]:
resultado=pd.concat([df1,df4], axis=1, join='inner')
resultado

          A         B         C         D         B         D         F
2  0.571273  0.814538  0.929652  0.098118  0.065053  0.689256  0.653805
3  0.516493  0.716613  0.415203  0.103131  0.715500  0.610958  0.778317

Reindexando a partir del dataframe df1

In [ ]:
resultado=pd.concat([df1,df4], axis=1).reindex(df1.index)
resultado

          A         B         C         D         B         D         F
0  0.118599  0.381180  0.602518  0.329390       NaN       NaN       NaN
1  0.723070  0.125643  0.086912  0.947086       NaN       NaN       NaN
2  0.571273  0.814538  0.929652  0.098118  0.065053  0.689256  0.653805
3  0.516493  0.716613  0.415203  0.103131  0.715500  0.610958  0.778317

otra forma

In [ ]:
resultado=df1.append([df2,df3])
resultado

           A         B         C         D
0   0.118599  0.381180  0.602518  0.329390
1   0.723070  0.125643  0.086912  0.947086
2   0.571273  0.814538  0.929652  0.098118
3   0.516493  0.716613  0.415203  0.103131
4   0.091480  0.522379  0.076014  0.402038
5   0.971159  0.748956  0.462391  0.177170
6   0.554076  0.693386  0.990617  0.244413
7   0.752474  0.038783  0.269659  0.431689
8   0.735301  0.522764  0.578380  0.240713
9   0.521528  0.395301  0.098754  0.699806
10  0.628927  0.207119  0.586365  0.452969
11  0.986742  0.167686  0.486853  0.790737